.advantages__img {
    width: 8.8rem;
    height: 8.8rem;
    margin-bottom: 1.94rem;
    
}

@media (max-width:48em) {
    .advantages__img img{
        width: 4.4rem;
        height: 4.4rem;
        
    }
    }
 