.button__cart--color {
    color: #ffffff;
    background: #0074D4;
    box-shadow: 0rem 4.3rem 5.1rem rgba(0, 116, 212, 0.2), 0rem 1.3rem 1.5rem rgba(0, 116, 212, 0.241), 0rem 5rem 6rem rgba(0, 116, 212, 0.15), 0rem 2rem 2rem rgba(0, 116, 212, 0.059);
    border-radius: 0.8rem
}